/* Banner.css */
.banner {
    height: 650px; /* Adjust the height of the banner */
    background-image: url('./images/banner1.PNG'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire banner area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; 
    background: ; /* Prevents the image from repeating */
    /* Prevents the image from repeating */
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    text-align: center;
    position: relative;
  }
  
  .banner-content {
    position: relative;
    z-index: 1; /* Ensures content is above any overlay */
  }
  
  .banner-title {
    font-size: 3rem;
    margin: 0;
  }
  
  .banner-subtitle {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  